[redditapp]
id=REDDITAPPID
secret=REDDITAPPSECRET

[reddit]
username=redditusername
username_p=redditpassword

[email]
email=youremail@gmail.com
password=yourpassword

[recepient]
# warning, do not leave a trailing |. Why? Because I am lazy.
email=youremail@gmail.com|anotheremail@anotherplace.tld

[subreddits]
# use a vertical bar between subreddits to ignore/priority
# warning, do not leave a trailing |. Why? Because I am lazy.
ignored=tumblr
lowpriority=videos|funny|pics|AdviceAnimals
highpriority=science|space|technology|news|worldnews
